// Small: phones
$screen-sm-min: 576px; 

// Medium: tablets
$screen-md-min: 768px; 

// Large: laptops
$screen-lg-min: 992px;

// Extra Large: large devices
$screen-xl-min: 1200px;

// Extra extra large: large devices
$screen-xx-minl: 1400px;

// Export small size 
:export {
    screenSmallMin: $screen-sm-min;
}