$default__white: #F2F2F2;
$default__black: #292929;

$light-blue: #768ea0;
$dark-blue-02: #242F36;

$light-grey: #C4C4C4;
$dark-blue-03: #182128;

$medium-blue-02: #314657;
$medium-blue-01: #405A6C;

$dark-blue-01: #202E39;
$medium-grey: #9A9A9A;


$colors: (

    light: (
        background: $default__white,
        bg-02: $light-blue,
        secondary-01: $light-grey,
        secondary-02: $medium-blue-02,
        text: $dark-blue-01
    ),
    
    dark: (
        background: $default__black,
        bg-02: $dark-blue-02,
        secondary-01: $dark-blue-03,
        secondary-02: $medium-blue-01,
        text: $medium-grey
    )
);



