$default__white: #f2f2f2; 
$default__black: #292929;

$font__extra-dark-blue: #182128;
$font__medium-grey: #9A9A9A;

$primary__medium-blue: #314657;
$primary__dark-blue: #202E39;

$secondary__light-blue: #50758F;
$secondary__light-grey: #C5C5C5;