$color-default__black: #292929;
$color-default__white: #f2f2f2;

$color-primary__extra-dark: #182128;
$color-primary__dark: #202E39;
$color-primary__medium: #314657;
$color-primary__light: #50758F;

$color-secondary__medium: #9A9A9A;
$color-secondary__light: #C5C5C5;