@use "helpers/fonts" as f;
@use "helpers/colors" as c;
@use "helpers/_mixins-responsive.scss" as responsive;

body {
    background-color: c.$default__white;
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 0.6em;
    background-color: rgba(c.$secondary__light-grey, 1);
    outline: 1px solid rgba(c.$primary__dark-blue, 0.5);
}

body::-webkit-scrollbar-thumb {
    background-color: c.$secondary__light-blue;
    box-shadow: inset 3px 3px 5px rgba(c.$default__black, 0.3);
    border-radius: 10px;
}

@mixin title {
    font-family: f.$font-title;
    text-shadow: 3px 3px 2px rgba(c.$default__black, 0.5);
    color: c.$secondary__light-grey;
}

.header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 6em;
    width: 100%;
    
    background-color: c.$primary__medium-blue;
    box-shadow: 2px 1px 10px 2px rgba(c.$default__black, 0.5);

    z-index: 1;

    .header__content {
        margin: 1em;
    }

}

.title-block {

    width: 27em;

    h1 {
        @include title;
        padding-bottom: .4em;
        font-size: 1.2rem;
        font-variant: small-caps;
    }

    h2 {
        @include title;
        font-size: .8em;
        text-align: left;
    }

    @include responsive.sx {
        &.hidden {
            display: none;
        }
    };
}


.buttons-block{

    display: flex;
    align-items: center;

    position: absolute;
    left: 70vw;
    
    padding: .5em;
    border-radius: 150px;
    
    background-color: rgba(c.$secondary__light-blue, 0.5);

    @include responsive.sx {

        &.buttons-enabled {
            position: absolute;
            left: 50%;
            transform: translateX(-55%);
        }
    };

}

.btn-accessibility {

    padding: .6em .7em;
    border-radius: 100px;
    background-color: c.$secondary__light-grey;

    svg {
        fill: c.$primary__medium-blue;
        transform: scale(1);
    }

    &:hover {

        background-color: rgba(c.$secondary__light-grey, 0.8);
        cursor: pointer;

        svg {
            animation: move-men .5s ease-in;
        }

        @keyframes move-men{

            from {
                transform: scale(1.2);
            }

            to {
                transform: scale(1);
            }
        }
    }
}

.toggle-button {

    display: none;

    input {
        opacity: 0;
        position: absolute;
    }

    label {
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        position: relative;
        
        width: 4.5em;
        height: 1.8em;
        padding: .5em;
        margin-left: .8em;  
        border-radius: 15em;
        
        background-color:rgba(c.$secondary__light-grey, 0.8);
        
        svg {
            width: 10em;
            fill: c.$primary__medium-blue;
        }

        .ball {
            position: absolute;
            
            width: 1.8em;
            height: 1.8em;
            padding: .2em;
            border-radius: 100%;
            
            background-color: c.$primary__medium-blue;
            
            transition: transform .25s linear;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #checkbox:checked + label .ball {
        transform: translateX(40px); 
    }
}

.btn-icon {
        
    display: none;
    
    width: 1.8em;
    height: 1.8em;        
    padding: .5em;
    margin-left: .8em;
    border-radius: 100%;
    
    background-color: rgba(c.$secondary__light-grey, 0.8);
    
    transition: .5s;

    svg {
        fill: c.$primary__medium-blue;
    }

    &:hover {
        background-color: rgba(c.$secondary__light-grey, 1);
        cursor: pointer;
    }
}

.buttons-enabled {
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    padding: 8em 8em 2em 8em;
    background: c.$primary__medium-blue url("../img/galaxy-background.jpg") center / cover no-repeat fixed;

    .first-info, .second-info {
        width: 60%;
        background-color: rgba(c.$secondary__light-grey, 0.5);
        padding: 1em 8em 1em 1em;
        border-radius: 18px;
        margin: 0 1em 2em 0;

        font-family: f.$font-regular;
        color: c.$primary__dark-blue;
        line-height: 1.5em;

    }

    img {

        position: absolute;
        top: auto;
        left: 60%;

        width: 12em;
        border-radius: 18px;
        box-shadow: 11px 8px 0px 2px rgba(c.$default__black, 0.5);
    }
}

// .poem {

// }
