@use 'helpers/fonts' as f;
@use 'helpers/colors' as c;


body {
    background-color: c.$color-default__white;
}

@mixin title {
    font-family: f.$font-title;
    color: c.$color-secondary__light;
    text-shadow: 3px 3px 2px rgba(c.$color-default__black, 0.5);
}

.header {
    
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: space-between;

    height: 6em;
    width: 100%;
    
    background-color: c.$color-primary__medium;
    box-shadow: 2px 1px 10px 2px rgba(c.$color-default__black, 0.5);

    z-index: 1;
}

.title-block {

    width: 27em;
    padding: 1em 1em;

    h1 {
        @include title;

        padding-bottom: .2em;
        font-size: 1.8em;
        font-variant: small-caps;
    }

    h2 {
        @include title;
        font-size: .8em;
        text-align: left;
    }
}

.buttons-block{

    display: flex;
    padding: 0 1em;
    text-align: right;

    .button-icon {

        display: flex;
        justify-content: center;
        align-items: center;

        width: 1.8em;
        padding: .2em .5em .5em .5em;
        margin-left: .5em;

        border-radius: 0 0 20px 20px;
        
        text-align: center;
        
        transition: .5s;

        svg {
            fill: c.$color-primary__medium;
        }

        &:hover {
            
            background-color: rgba(c.$color-secondary__light, 0.6);
            
            cursor: pointer;
            transform: translate(0, 5px);

        }
    }

    .light-mode, .dark-mode {
        background-color: c.$color-secondary__medium;
        height: 2.5em;
    }

    .font-up, .font-down {
        background-color: c.$color-secondary__light;
        height: 2em;
    }
}


.information {
    display: flex;
    padding: 8em 8em 2em 8em;
    background: c.$color-primary__medium url("../img/galaxy-background.jpg") center / cover no-repeat fixed;

    .first-info, .second-info {
        width: 60%;
        background-color: rgba(c.$color-secondary__light, 0.5);
        padding: 1em 8em 1em 1em;
        border-radius: 18px;
        margin: 0 1em 2em 0;

        font-family: f.$font-regular;
        color: c.$color-primary__dark;
        line-height: 1.5em;

    }

    img {

        position: absolute;
        top: auto;
        left: 60%;

        width: 12em;
        border-radius: 18px;
        box-shadow: 11px 8px 0px 2px rgba(c.$color-default__black, 0.5);
    }
}

// .poem {

// }
