@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

// typography
$font-title: 'Playfair Display', serif;
$font-regular: 'Roboto Slab', Monospace, serif;

// colorcode
$color-default__black: #292929;
$color-default__white: #f9f9f9;

$color-primary__extra-dark: #182128;
$color-primary__dark: #202E39;
$color-primary__medium: #314657;
$color-primary__light: #50758F;

$color-secondary__medium: #9A9A9A;
$color-secondary__light: #C5C5C5;
