@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");
:export {
  screenSmallMin: 576px;
}

body {
  background-color: #f2f2f2;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  body {
    font-size: 20px;
  }
}

body::-webkit-scrollbar {
  width: 0.6em;
  background-color: #c5c5c5;
  outline: 1px solid rgba(32, 46, 57, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: #50758F;
  box-shadow: inset 3px 3px 5px rgba(41, 41, 41, 0.3);
  border-radius: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 6em;
  width: 100%;
  background-color: #314657;
  box-shadow: 2px 1px 10px 2px rgba(41, 41, 41, 0.5);
  z-index: 1;
}
.header .header__content {
  margin: 1em;
}

.title-block {
  width: 17em;
}
.title-block h1 {
  font-family: "Playfair Display", serif;
  text-shadow: 3px 3px 2px rgba(41, 41, 41, 0.5);
  color: #C5C5C5;
  padding-bottom: 0.4em;
  font-size: 1.2rem;
  font-variant: small-caps;
}
@media screen and (min-width: 576px) {
  .title-block h1 {
    font-size: 1.6em;
    padding-bottom: 0.2em;
  }
}
.title-block h2 {
  font-family: "Playfair Display", serif;
  text-shadow: 3px 3px 2px rgba(41, 41, 41, 0.5);
  color: #C5C5C5;
  font-size: 0.8em;
  text-align: left;
}
@media screen and (min-width: 576px) {
  .title-block h2 {
    text-align: right;
  }
}
.title-block.hidden {
  display: none;
}

.buttons-block {
  display: flex;
  align-items: center;
  position: absolute;
  left: 90%;
  transform: translateX(-90%);
  padding: 0.5em;
  border-radius: 150px;
  background-color: rgba(80, 117, 143, 0.5);
}
.buttons-block.buttons-enabled {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
}
@media screen and (min-width: 576px) {
  .buttons-block {
    position: initial;
    transform: translateX(0);
  }
}

.btn-accessibility {
  padding: 0.6em 0.7em;
  border-radius: 100px;
  background-color: #C5C5C5;
}
.btn-accessibility svg {
  fill: #314657;
  transform: scale(1);
}
.btn-accessibility:hover {
  background-color: rgba(197, 197, 197, 0.8);
  cursor: pointer;
}
.btn-accessibility:hover svg {
  animation: move-men 0.5s ease-in;
}
@keyframes move-men {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.toggle-button {
  display: none;
}
.toggle-button input {
  opacity: 0;
  position: absolute;
}
.toggle-button label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 4.5em;
  height: 1.8em;
  padding: 0.5em;
  margin-left: 0.8em;
  border-radius: 15em;
  background-color: rgba(197, 197, 197, 0.8);
}
.toggle-button label svg {
  width: 10em;
  fill: #314657;
}
.toggle-button label .ball {
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  padding: 0.2em;
  border-radius: 100%;
  background-color: #314657;
  transition: transform 0.25s linear;
}
.toggle-button label .ball:hover {
  cursor: pointer;
}
.toggle-button #checkbox:checked + label .ball {
  transform: translateX(40px);
}

.btn-icon {
  display: none;
  width: 1.8em;
  height: 1.8em;
  padding: 0.5em;
  margin-left: 0.8em;
  border-radius: 100%;
  background-color: rgba(197, 197, 197, 0.8);
  transition: 0.5s;
}
.btn-icon svg {
  fill: #314657;
}
.btn-icon:hover {
  background-color: #c5c5c5;
  cursor: pointer;
}

.buttons-enabled {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  display: flex;
  padding: 2em 1em;
  background: #314657 url("../img/galaxy-background.jpg") center/cover no-repeat fixed;
}
@media screen and (min-width: 576px) {
  .information {
    padding: 2em 2em;
  }
}
@media screen and (min-width: 768px) {
  .information {
    padding: 2em 3em;
  }
}
@media screen and (min-width: 768px) {
  .information {
    padding: 2em 5em;
  }
}

.information__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information__box .first-info {
  padding: 0.8em;
  border-radius: 18px;
  font-size: 0.7em;
  font-family: "Roboto Slab", Monospace, serif;
  line-height: 1.5em;
  text-indent: 15px;
  text-align: justify;
  color: #202E39;
  background-color: rgba(197, 197, 197, 0.5);
}
@media screen and (min-width: 576px) {
  .information__box .first-info {
    margin: 1em 0;
  }
}
@media screen and (min-width: 768px) {
  .information__box .first-info {
    width: 60%;
    padding-right: 10%;
  }
}
.information__box .second-info {
  padding: 0.8em;
  border-radius: 18px;
  font-size: 0.7em;
  font-family: "Roboto Slab", Monospace, serif;
  line-height: 1.5em;
  text-indent: 15px;
  text-align: justify;
  color: #202E39;
  background-color: rgba(197, 197, 197, 0.5);
  display: none;
}
@media screen and (min-width: 576px) {
  .information__box .second-info {
    margin: 1em 0;
  }
}
@media screen and (min-width: 576px) {
  .information__box .second-info {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .information__box .second-info {
    align-self: flex-start;
    width: 70%;
  }
}

img {
  display: none;
  position: absolute;
  top: auto;
  left: 80%;
  width: 7em;
  border-radius: 18px;
  box-shadow: 11px 8px 0px 2px rgba(41, 41, 41, 0.5);
}
@media screen and (min-width: 768px) {
  img {
    display: inline-block;
    width: 10em;
    left: 75%;
  }
}

/*# sourceMappingURL=style.css.map */
