$font: Arial, sans-serif;

$primary__color01: rgb(33, 37, 59);
$primary__color02: rgb(37, 42, 85);
$background: rgb(235, 235, 235);

body {
  background-color: $background;
}

.header {
  h1, h2 {
    color: $primary__color01;
    font-family: $font;
  }
}